#fejlec{
    font-size: 24px;
    color: rgb(3, 2, 24);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}

#cim{

    font-size: 36px;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}
.tdnev{
    font-size: 25px;
    color: rgb(4, 36, 16);
    text-align: center;
}
.datumok{
    font-size: 24px;
    color: seagreen;
}