
@font-face{
    font-family: "petit";
    src: url("font/PetitFormalScript-Regular.ttf");
    font-weight: 900;
    font-size: 120pt;
    }
    
    #fejlec{
    font-size: 24px;
    color: rgb(3, 2, 24);
    font-family: "petit";
    font-weight: bold;
    
}
#tabla{
    
    text-align: center;
   
    border: solid 5px;
    border-color: tomato;
    bor
     
}
#cim{

    font-size: 50px;
    font-weight: bold;
    color: darkblue;
    font-family: "petit";
    margin: 10px 0 50px 0;
}
.tdnev_M{
    font-size: 25px;
    color: rgb(22, 76, 192);
    text-align: center;
}
.tdnev_Z{
    font-size: 25px;
    color: rgba(28, 226, 28, 0.411);
    text-align: center;
}
.tdnev_D{
    font-size: 25px;
    color: rgba(230, 76, 16, 0.411);
    text-align: center;
}

.datumok{
    font-size: 24px;
    color: seagreen;
}